<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova.plugins.diagnostic"
    version="3.7.2">

    <name>Diagnostic</name>
    <description>Cordova/Phonegap plugin to check the state of Location/WiFi/Camera/Bluetooth device settings.</description>
    <author>Dave Alden</author>
    <license>MIT</license>
    <keywords>ecosystem:cordova,cordova,phonegap,android,ios,windows,diagnostic,wifi,location,gps,camera,bluetooth,settings</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <repo>https://github.com/dpa99c/cordova-diagnostic-plugin.git</repo>
    <issue>https://github.com/dpa99c/cordova-diagnostic-plugin/issues</issue>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Diagnostic">
                <param name="ios-package" value="Diagnostic" />
            </feature>
        </config-file>
        
        <!-- Default usage descriptions: override as necessary in .plist -->
        
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$LocationWhenInUseUsageDescription</string>
        </config-file>
        
        <!-- iOS >=11 -->
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$LocationAlwaysAndWhenInUseUsageDescription</string>
        </config-file>
        
        <!-- iOS <=10 -->
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$LocationAlwaysUsageDescription</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>$PhotoLibraryUsageDescription</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CameraUsageDescription</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSMotionUsageDescription">
            <string>$MotionUsageDescription</string>
        </config-file>

        <preference name="LocationWhenInUseUsageDescription" default=" "/>
        <preference name="LocationAlwaysAndWhenInUseUsageDescription" default=" "/>
        <preference name="LocationAlwaysUsageDescription" default=" "/>
        <preference name="PhotoLibraryUsageDescription" default=" "/>
        <preference name="CameraUsageDescription" default=" "/>
        <preference name="MotionUsageDescription" default=" "/>

        <js-module src="www/ios/diagnostic.js" name="Diagnostic">
            <clobbers target="cordova.plugins.diagnostic" />
        </js-module>

        <header-file src="src/ios/Diagnostic.h" />
        <source-file src="src/ios/Diagnostic.m" />

        <framework src="CoreLocation.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="Photos.framework" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Diagnostic" >
                <param name="android-package" value="cordova.plugins.Diagnostic"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <framework src="com.android.support:support-v4:26.+" />
        <framework src="com.android.support:appcompat-v7:26.+" />

        <js-module src="www/android/diagnostic.js" name="Diagnostic">
            <clobbers target="cordova.plugins.diagnostic" />
        </js-module>
        <source-file src="src/android/Diagnostic.java" target-dir="src/cordova/plugins" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver
                    android:name="cordova.plugins.Diagnostic$LocationProviderChangedReceiver">
                <intent-filter>
                    <action android:name="android.location.PROVIDERS_CHANGED" />
                </intent-filter>
            </receiver>
            <receiver android:name="cordova.plugins.Diagnostic$NFCStateChangedReceiver">
                <intent-filter>
                    <action android:name="android.nfc.action.ADAPTER_STATE_CHANGED" />
                </intent-filter>
            </receiver>
        </config-file>
    </platform>
</plugin>
